
@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
}

.blinking {
  border-left:1px solid black;
  animation: 1s blink step-end infinite;
}

tbody.text-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 50vh;
}

tbody.text-content.hide {
  display: none;
}

/*
.content table {
  width: 100%;
}
*/

table tr th.start,
table tr th.end {
  width: 280px;
}

table tr th.hyper {
  width: 0.5rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

table.tbody tr th.hyper {
  padding-top: 1.1rem;
}

table tr td.caption {
  width: calc(100vw - 37rem);
}

tbody.text-content th {
  /*width: 1px;*/
  vertical-align: top;
  padding-top: 10px;
}

tbody.text-content th input {
  text-align: right;
  width: 2.2rem !important;
  font-size: 0.8rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

tbody.text-content th input.hour {
  width: 2.7rem !important;
}

tbody.text-content th input.millisecond {
  width: 3rem !important;
}

tbody.text-content td textarea {
  width: 100%;
  /*height: auto !important;*/
  min-height: 2.1rem !important;
  height: 2.1rem;
  max-height: auto !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 1.8rem !important;
}

table.thead {
  margin-bottom: 0 !important;
  border-radius: .28571429rem .28571429rem 0 0 !important;
  border-bottom-width: 0 !important;
}
table.tbody {
  margin-top: 0 !important;
  border-radius: 0 0 .28571429rem .28571429rem !important;
  border-top-width: 0 !important;
  display: block;
  max-height: calc(100vh - 35rem);
  min-height: 9rem;
  overflow-y: auto;
  overflow-x: hidden;
}

button.download-btn {
  line-height: 1.4rem !important;
  /*margin-top: 1.7rem !important;*/
}

audio {
  display: none;
}

h1 {
  text-align: center;
}

.recognition-status .button,
.recognition-status .finish-time {
  display: none !important;
}

.recognition-status[data-recognition-status="ready"] .start-btn,
.recognition-status[data-recognition-status="ready"] .buttons .button {
  display: block !important;
}

.recognition-status[data-recognition-status='loading'] .loading-btn {
  display: block !important;
}

.recognition-status[data-recognition-status='wait'] .playing-btn,
.recognition-status[data-recognition-status='wait'] .finish-time {
  display: block !important;
}

.recognition-status[data-recognition-status='finish'] .finish-btn,
.recognition-status[data-recognition-status="finish"] .buttons .button {
  display: block !important;
}

#audio_player iframe,
#audio_player video {
  pointer-events: none;
}

.virtual-audio-cable-warning {
  margin-bottom: 0.5rem !important;
}

.finish-time {
  text-align: center;
}

.content img {
  width: 49%;
  height: auto;
}