
@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: black }
}

.blinking {
  border-left:1px solid black;
  animation: 1s blink step-end infinite;
}

.content {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 50vh;
}

.content table {
  width: 100%;
}

.content table tbody th {
  width: 262px;
  vertical-align: top;
  padding-top: 10px;
}

.content table tbody th input {
  text-align: right;
  width: 3.9rem !important;
  font-size: 0.8rem !important;
}

.content table tbody th input.hour,
.content table tbody th input.millisecond {
  width: 4.4rem !important;
}

.content table tbody td textarea {
  width: 100%;
  /*height: auto !important;*/
  min-height: 3rem !important;
  max-height: auto !important;
}

button.download {
  line-height: 3rem !important;
}
